<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.rssnews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
	    <activity android:name="com.app.rssnews.activity.Main"
	              android:label="@string/app_name">
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	    </activity>
	    <activity
        android:name="com.app.rssnews.activity.AddChannelActivity"
        android:label="@string/app_name"
        android:parentActivityName="Main" >
        <!-- Parent activity meta-data to support API level 7+ -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.app.rssnews.Main" />
    </activity>
    <provider
      android:name=".contentprovider.ChannelContentProvider"
      android:authorities="de.vogella.android.todos.contentprovider" >
   </provider>
	</application>

</manifest>

